In [1]:
import pandas as pd

In [2]:
Admission=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Admission%20Chance.csv')

In [3]:
Admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
Admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [5]:
Admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [6]:
Admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [7]:
y=Admission['Chance of Admit ']
x=Admission[['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=2529)

In [10]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((280, 8), (120, 8), (280,), (120,))

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred=model.predict(x_test)

In [14]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [15]:
y_pred

array([0.71638511, 0.75610311, 0.68760789, 0.68124699, 0.56927168,
       0.91423484, 0.90562753, 0.72569757, 0.79088749, 0.59675934,
       0.59489304, 0.80774252, 0.54572472, 0.77132503, 0.8737274 ,
       0.66751677, 0.61934136, 0.67447953, 0.73484064, 0.84425246,
       0.62922545, 0.86090216, 0.82814605, 0.9151533 , 0.68755296,
       0.63544487, 0.6134806 , 0.57723203, 0.51557048, 0.61715529,
       0.52595747, 0.76388331, 0.69695739, 0.75953801, 0.62049587,
       0.53097396, 0.40200383, 0.87065079, 0.92286173, 0.78952969,
       0.71932513, 0.73604218, 0.70278395, 0.90704   , 0.80062706,
       0.81781888, 0.91769447, 0.86667679, 0.58887763, 0.48098577,
       0.62564848, 0.61917228, 0.8041983 , 0.46620308, 0.71182598,
       0.74243792, 0.69141228, 0.63484399, 0.82789223, 0.6680648 ,
       0.64158042, 0.93553342, 0.66537654, 0.65115639, 0.73074156,
       0.69630576, 0.59954454, 0.91516057, 0.57456458, 0.90601273,
       0.5702746 , 0.92658714, 0.62468054, 0.71689836, 0.5250502 ,
       0.86364436, 0.60792138, 0.72722255, 0.66042681, 0.82080932,
       0.7225671 , 0.89929811, 0.67637301, 0.49554676, 0.75688317,
       0.64865133, 0.77128243, 0.57848782, 0.79141629, 0.67201156,
       0.68439077, 0.68509744, 0.91922614, 0.67840876, 0.65244089,
       0.64779263, 0.77551969, 0.67516585, 0.76765527, 0.60929075,
       0.96500346, 0.69771574, 0.97109768, 0.8244446 , 0.80824716,
       0.86627331, 0.65875764, 0.69147515, 0.60381244, 0.59431034,
       0.81010835, 0.69414677, 0.76932107, 0.57984938, 0.54290832,
       0.73859636, 0.70651852, 0.62741334, 0.84271712, 0.66928116])

In [18]:
model.predict(x_train)

array([0.77221933, 0.78345576, 0.59566016, 0.72499843, 0.76841759,
       0.5445986 , 0.93772238, 0.88671345, 0.68300508, 0.70614947,
       0.68723497, 0.64579252, 0.67417123, 0.42472776, 0.80931969,
       0.72243677, 0.69058808, 0.56097287, 0.86041974, 0.82180908,
       0.64146719, 0.70593372, 0.65567727, 0.76040067, 0.65035848,
       0.76428417, 0.81272034, 0.76289572, 0.6535731 , 0.90043513,
       0.66588372, 0.87559194, 0.88893346, 0.74453286, 0.59679799,
       0.7759119 , 0.82156755, 0.70631034, 0.83872678, 0.61849977,
       0.79567237, 0.82027703, 0.87639354, 0.83918558, 0.73095328,
       0.83174526, 1.01077847, 0.80000122, 0.84275582, 0.61592487,
       0.64351976, 0.51090485, 0.62674561, 0.80987056, 0.755272  ,
       0.99932457, 0.58738293, 0.77031523, 0.51674095, 0.85640779,
       0.82559523, 0.69245243, 0.74475646, 0.97116256, 0.67498081,
       0.76230333, 0.72729147, 0.83114552, 0.5994814 , 0.48253728,
       0.67533873, 0.69704854, 0.79656238, 0.85050816, 0.68821976,
       0.82834655, 0.76302102, 0.65695066, 0.60875898, 0.55118487,
       0.86501983, 0.82746608, 0.76931318, 0.9340848 , 0.85367371,
       0.98961433, 0.62285612, 0.53637731, 0.74033602, 0.64357318,
       0.83794742, 0.55826726, 0.77182443, 0.7872205 , 0.81839514,
       0.66004558, 0.80774579, 0.70090246, 0.66358891, 0.87568199,
       0.53996877, 0.52020192, 0.66224277, 0.87411621, 0.57248586,
       0.55528888, 0.7461427 , 0.65202422, 0.79161315, 0.72641786,
       0.76796592, 0.6627591 , 0.81779944, 0.84577402, 0.71543078,
       0.84889637, 0.85542176, 0.91666478, 0.68991112, 0.67205389,
       0.61150532, 0.88638648, 0.54720493, 0.99317606, 0.62953859,
       0.81768783, 0.53833358, 0.65441345, 0.96929386, 0.7363519 ,
       0.7967801 , 0.68854824, 0.63573158, 0.58494421, 0.7718635 ,
       0.62489858, 0.70013242, 0.91535727, 0.69655211, 0.54627355,
       0.67966079, 0.75349949, 0.88772627, 0.94749994, 0.91894797,
       0.94978178, 0.75258703, 0.51108696, 0.55270205, 0.64199467,
       0.72599693, 0.64122997, 0.86402919, 0.55823889, 0.55371492,
       0.76563705, 0.93275174, 0.94641749, 0.92948724, 0.67666981,
       0.68070971, 0.84485601, 0.90641006, 0.64669017, 0.6652145 ,
       0.97428509, 0.80659155, 0.56886962, 0.66233009, 0.70505214,
       0.72493907, 0.61040018, 0.50190001, 0.86050381, 0.57146078,
       0.65075853, 0.72623071, 0.94424033, 0.96610685, 0.71196189,
       0.62771491, 0.92406972, 0.72782914, 0.79486563, 0.6476059 ,
       0.74821393, 0.63114049, 0.52668178, 0.48413454, 0.75371495,
       0.60057978, 0.65445912, 0.48868316, 0.7095478 , 0.74376746,
       0.83722693, 0.81048628, 0.48989948, 0.7059242 , 0.71200838,
       0.86245255, 0.84240569, 0.70395483, 0.79506608, 0.63715741,
       0.68311776, 0.6787432 , 0.82083526, 0.55563731, 0.49315324,
       0.61272323, 0.84310165, 0.52903694, 0.56489333, 0.66225302,
       0.7910841 , 0.84353167, 0.69589342, 0.7327235 , 0.7907124 ,
       0.67251089, 0.93804624, 0.61590128, 0.4769424 , 0.92499125,
       0.77786711, 0.76644017, 0.67329356, 0.86774687, 0.69688477,
       0.93967806, 0.84039845, 0.89093199, 0.74734403, 0.8059352 ,
       0.80153736, 0.68193983, 0.89540012, 0.95491698, 0.65026602,
       0.73416296, 0.59487574, 0.79080071, 0.63107305, 0.64963667,
       0.57325808, 0.80897026, 0.56273846, 0.77021858, 0.88426933,
       0.65520299, 0.88911082, 0.80925334, 0.73580961, 0.62569136,
       0.70523231, 0.91260444, 0.89039204, 0.88454247, 0.79914728,
       0.75681918, 0.50364517, 0.93064507, 0.55877289, 0.85708281,
       0.79407447, 0.94926755, 0.6392356 , 0.63191767, 0.91111408,
       0.7398887 , 0.4228894 , 0.73297113, 0.69720268, 0.80059313,
       0.86460037, 0.74954563, 0.56411486, 0.65693996, 0.64569507])

In [19]:
mean_absolute_error(y_test,y_pred)

0.04308714723355852

In [20]:
mean_absolute_percentage_error(y_test,y_pred)

0.074004372761339

In [21]:
mean_squared_error(y_test,y_pred)

0.003922607781791493